---
const start = new Date(Date.now());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <script
      src="/htmx.min.js"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    ></script>
  </head>
  <body class="container mx-auto bg-slate-300 h-screen">
    <h1 class="m-2 text-xl">Garden Scheduler</h1>
    <main class="flex justify-between m-2">
      <ul
        id="schedule"
        hx-trigger="load"
        hx-get="/schedule"
        hx-swap="outerHTML"
      >
      </ul>
      <controls
        class="bg-slate-100 flex-none rounded m-2 shadow-xl"
        hx-trigger="load"
        hx-get="/plan"
        hx-swap="outerHTML"
        hx-target="form"
      >
        <button class="px-2 border rounded-t" hx-get="/plant" hx-swap="outerHTML" hx-target="form"
          >Plants</button
        ><button class="px-2 border rounded-t" hx-get="/plan" hx-swap="outerHTML" hx-target="form"
          >Plan</button
        >
        <form></form>
      </controls>
    </main>
  </body>
</html>
