---
export const partial = true;
---
<form class="p-4" hx-post="/schedule" hx-target="#schedule" hx-swap="outerHTML">
    <div class="leading-5 m-1">
        <label>Plant</label>
        <select name="name">
          <option value="">--Please choose an option--</option>
          <option value="tomato">Tomato</option>
        </select>
      </div>
    <div class="leading-5 m-1">
      <label>from seed</label><input name="fromSeed" type="checkbox" />
    </div>
    <div class="leading-5 m-1">
      <label>Plant at</label><input
        name="plantAt"
        type="date"
      />
    </div>
    <button class="mt-4" type="submit">Add</button>
  </form>