---
export const partial = true;
import handler from "../lib/scheduleHandler.js";
import knex from "../lib/knex";

const events = await handler(Astro);
const plants = await knex('plants').select()
console.log(plants)

const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];
---
<ul class="flex-none bg-slate-100 rounded shadow-xl" id="schedule">
  {
    months.map((month, index) => {
      return (
        <li class="p-2 m-2">
          <div>{month}</div>
          {events
            .filter((event) => event.month == index)
            .map((event) => (
              <div class="text-sm leading-6">
                <span class="outline outline-2 rounded-full px-1 mr-1">
                  {event.day}
                </span>
                {event.message}
                <button hx-delete={`/events/${event.id}`} hx-swap="delete" hx-target="closest div">del</button>
              </div>
            ))}
        </li>
      );
    })
  }
</ul>